@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i");
:root {
  font-size: 62.5%;
  font-family: "Merriweather", serif;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}
.main {
  max-width: 640px;
  margin: 0 auto;
  height: 100%;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100vh;
  position: relative;
}
h1 {
  font-size: 6rem;
  font-weight: 900;
  text-align: center;
  padding: 10px;
}
.ofthe {
  font-size: 4rem;
}
h3 {
  margin-bottom: 0;
  font-size: 1.5rem;
}
.todaysWord {
  font-size: 4rem;
  margin-bottom: 10px;
  margin-top: 5px;
}
.word-container {
  position: relative;
  width: 100%;
}
.todays-word {
  width: 100%;
  position: relative;
  transition: 0.3s all;
}
.todays-word h2,
.todays-word h3 {
  width: 100%;
}

footer {
  text-align: center;
  color: rgb(173, 173, 173);
  margin-top: 70px;
}
footer a {
  color: rgb(173, 173, 173);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.button-container {
  bottom: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
button {
  padding: 10px;
  background: rgb(255, 255, 255);
  /* border: 2px solid black; */
  border: none;
  font-size: 1.4rem;
  box-shadow: 0 0 2px 1px rgb(220, 220, 220);
}
.prevDay {
  float: left;
}
.nextDay {
  float: right;
}
.clearFloat {
  clear: both;
}
.word-container div {
  transition: 0.3s all;
}
.def-container {
  position: relative;
}
.defs {
  font-size: 2rem;
  margin-top: 0;
  transition: all 0.3s;
}
.defs li {
  margin-bottom: 15px;
}
.prev-defs-enter {
  transform: translateX(-200%);
}
.prev-defs-enter-active {
  transform: translateX(0);
}
.prev-defs-exit {
  position: absolute;
  width: 100%;
  transform: translateX(0);
  top: 0;
  overflow: hidden;
}
.prev-defs-exit-active {
  transform: translateX(200%);
  position: absolute;
  width: 100%;
  top: 0;
}

.next-defs-enter {
  transform: translateX(200%);
}
.next-defs-enter-active {
  transform: translateX(0);
}
.next-defs-exit {
  position: absolute;
  transform: translateX(0);
  top: 0;
  overflow: hidden;
}
.next-defs-exit-active {
  transform: translateX(-200%);
  position: absolute;
  top: 0;
}
