@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i");
:root {
  font-size: 62.5%;
  font-family: "Merriweather", serif;
}
body {
  margin: 0;
  padding: 0;
}
.main {
  max-width: 640px;
  margin: 0 auto;
  padding: 10px;
}
h1 {
  font-size: 6rem;
  font-weight: 900;
  text-align: center;
  padding: 10px;
}
.ofthe {
  /* display: block; */
  font-size: 4rem;
}
h3 {
  margin-bottom: 0;
  font-size: 1.5rem;
}
.todaysWord {
  font-size: 4rem;
  margin-bottom: 10px;
  margin-top: 5px;
}

footer {
  text-align: center;
  color: rgb(173, 173, 173);
  margin-top: 70px;
}
footer a {
  color: rgb(173, 173, 173);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  padding: 10px;
  background: white;
  border: 2px solid black;
  font-size: 1.4rem;
  box-shadow: 2px 2px 2px grey;
}
.prevDay {
  float: left;
}
.nextDay {
  float: right;
}
.clearFloat {
  clear: both;
}
.def-container {
  position: relative;
}
.defs {
  font-size: 2rem;
  position: relative;
  margin-top: 0;
  width: 100%;
}
.defs li {
  margin-bottom: 15px;
}
.prev-defs-enter {
  transition: all 0.3s;
  left: -200%;
}
.prev-defs-enter-active {
  transition: all 0.3s;
  left: 0;
}
.prev-defs-exit {
  transition: all 0.3s;
  position: absolute;
  left: 0;
  top: 0;
}
.prev-defs-exit-active {
  transition: all 0.3s;
  left: 200%;
  position: absolute;
  top: 0;
}

.next-defs-enter {
  transition: all 0.3s;
  left: 200%;
}
.next-defs-enter-active {
  transition: all 0.3s;
  left: 0;
}
.next-defs-exit {
  transition: all 0.3s;
  position: absolute;
  left: 0;
  top: 0;
}
.next-defs-exit-active {
  transition: all 0.3s;
  left: -200%;
  position: absolute;
  top: 0;
}
